/* Variables */

$br-xs: 425px;
$br-sm: 768px;
$br-m: 1024px;
$br-l: 1440px;
$br-xl: 2560px;

$text-xs: .7em;
$text-sm: .9em;
$text-normal: 1em;
$text-big: 1.2em;

$size-1: 0.3em;
$size-2: $size-1 * 2;
$size-3: $size-2 * 2;
$size-4: $size-3 * 2;
$size-5: $size-4 * 2;

$font-default: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$text-primary-900: #000000;
$text-primary-800: #202020;
$text-primary-700: #404040;
$text-primary-600: #606060;
$text-primary-500: #787878;
$text-primary-400: #989898;
$text-primary-300: #B0B0B0;
$text-primary-200: #C8C8C8;
$text-primary-100: #DCDCDC;

$bg-color-primary: #ffffff;
$bg-color-secondary: #f7f7f7;